@{
    ViewBag.Title = "Not Signed In";
}

<h2>Please sign in</h2>
To continue you need to sign in or register:
<a href="@Url.Action("SignIn","Profile", new { _redirectUrl=Context.Items["_postLoginRedirect"]?.ToString()})" class="btn btn-primary">Sign In or Register</a>