@{
    ViewBag.Title = "API Documentation";

    var siteBaseUrl = "https://openchargemap.org/site/";
    var apiBaseUrl = "https://api.openchargemap.io/v3/";
    var apiSandboxBaseUrl = "https://sandbox.api.openchargemap.io/v2/";
}

<link rel="stylesheet" href="~/Content/docs.css" type="text/css" />
<link rel="stylesheet" href="https://unpkg.com/@@stoplight/elements/styles.min.css" />

<div class="row">

    <div class="col-sm-12 col-xs-12">
        <article>
            <section>

                <p style="margin:1em;  ">

                    Uptime last 7 days: <a href="https://www.statuscake.com" target="_blank" title="Uptime For Last 7 Days : API Monitoring by StatusCake"><img style="display:inline" src="https://app.statuscake.com/button/index.php?Track=41SG6hzhJW&Days=7&Design=5" /></a>
                    last 30 days: <a href="https://www.statuscake.com" target="_blank" title="Uptime For Last 30 Days : API Monitoring by StatusCake"><img style="display:inline" src="https://app.statuscake.com/button/index.php?Track=41SG6hzhJW&Days=30&Design=5" /></a>
                </p>

                <script src="https://unpkg.com/@@stoplight/elements/web-components.min.js"></script>
                <div>
                    <elements-api apiDescriptionUrl="https://raw.githubusercontent.com/openchargemap/ocm-docs/master/Model/schema/ocm-openapi-spec.yaml"
                                  router="hash" />
                </div>


            </section>


        </article>
    </div>
</div>
<script type="text/javascript" src="~/js/OCM/SharedLibs/OCM_Data.js"></script>
<script type="text/javascript" src="~/js/OCM/TableOfContents.js"></script>
<script type="text/javascript">
    $(function () {
        //prepareTableOfContents();

        //fetchReferenceData();
    });

    var dataAPI = new OCM.API();

    function fetchReferenceData() {
        dataAPI.fetchCoreReferenceData("populateCoreReferenceData")
    }
    function populateCoreReferenceData(result) {
        if (result != null) {
            dataAPI.referenceData = result;
            dataAPI.sortCoreReferenceData();

            populateRefDataTable("api-comment-types", dataAPI.referenceData.UserCommentTypes);
            populateRefDataTable("api-checkin-types", dataAPI.referenceData.CheckinStatusTypes);
        }
    }

    function populateRefDataTable(elementId, referenceDataCollection) {

        var refDataTable = "<table class=\"table table-condensed table-striped\"><tr><th>ID</th><th>Title</th></tr>";
        for (var i = 0; i < referenceDataCollection.length; i++) {
            var item = referenceDataCollection[i];
            refDataTable += "<tr><td>" + item.ID + "</td><td>" + item.Title + "</td></tr>";
        }
        refDataTable += "</table>";

        $("#" + elementId).html(refDataTable);

    }
</script>