@model OCM.API.Common.Model.User

@{
    ViewBag.Title = "User";
}

<h2>Edit User Details</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.EditorForModel()

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>