<div class="license">
    Use of the services and data hosted by us is subject to the following terms (updated 01/04/2022):
    <ul>
        <li>Data supplied by openchargemap.org is derived from a wide variety of public sources and contributions. We accept no liability for the accuracy of this data and provide no assurances.</li>

        <li>
            Data contributed to us by our users which we then redistribute is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International (CC BY 4.0)</a>.
        </li>
        <li>You agree that we may substitute this license at any point (where applicable) for an alternative Open Data license (<a href="http://opendatacommons.org/licenses/">http://opendatacommons.org/licenses/</a>) if required by the Open Charge Map project.</li>
        <li>By submitting data to us you are certifying that you are the originator of the data and have not copied any information which is subject to the copyright of another organisation or individual, or you are certifying that you have the authority to submit this information to us under the terms stated here.</li>

        <li>Data imported from 3rd party Data Providers is copyright the original Data Provider in each case and is not provided under the same terms as the user-contributed data detailed above. Where possible we will attempt to only import data which has a formal and compatible Open Data license.</li>
        <li>We will respond promptly to any DMCA or equivalent copyright protection request, please use our <a href="@Url.Action("contact","about")">Contact</a> page to lodge these requests, detailing the exact infringing items.</li>
        <li>Use of our API or data in an application or service requires that the appropriate Data Provider attribution (including license terms) be provided in a way which is visible the end user.</li>
    </ul>
    <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">
        <img alt="Creative Commons Licence" style="border-width: 0" src="http://i.creativecommons.org/l/by/4.0/88x31.png" />
    </a>
</div>