
div[data-role=page] {
    display: none;
    margin-top:54px;
}
    
div[data-role=page]#home-page {
        margin-top:0;
    }

div[data-role=header] {
    position: fixed;
    background-color:black;
    width:100%;
    z-index:1000;
    top:0px;
}

    div[data-role=header] > h1 {
        font-size:12pt;
        padding-left:1em;
    }

.ui-collapsed {
}

.alert.alert-warning {
    background-color:transparent;
    border:none;
    font-weight:bold;
    color:#d4763f
}

.form-options {
    padding:8px;
}

.navbar-default {
    background-color: rgba(0, 0, 0, 0.9)
}

.panel {
    background-color:transparent;
}

.populated {
    border:1px solid red;
}

/*non-jqm special case*/
a:focus {
    outline: 0;
    -webkit-tap-highlight-color: #111111;
}

/*
.btn-default{
     background-color: #8cc63f;
     color:white;
     border: none;
}
    */

.ui-link:hover {
      transition: color 500ms linear;
}

.btn-default {
    transition: background-color 500ms linear;
}

.btn-default:hover{
    background-color: rgb(237, 255, 211);
    transition: background-color 500ms linear;
}

#details-content {
    background-color: white;
    color: black;
}

.ui-body {
    border: none;
    padding: 6px;
    background-color: white;
}

.ui-body-a {
    background-color: #111111;
}


/*basic responsive grid styles : 2 columns*/
.item {
    width: 50%;
    padding: 8px;
}

/* Tablet version:   3 columns */
@media (min-width: 40em) {
    .item {
        width: 33%;
    }
    /* 3 columns */
}

/* Desktop version:  4 columns */
@media (min-width: 60em) {
    .item {
        width: 25%;
    }
    /* 4 columns */
}
