[Unit]
Description=Open Charge Map API Worker

[Service]
Type=notify
ExecStart=/usr/sbin/ocm-api
WorkingDirectory=/opt/ocm-api
Restart=always

# Restart every day
RuntimeMaxSec=604800


[Install]
WantedBy=multi-user.target