@model OCM.API.Common.Model.UserSubscription

@{
    ViewBag.Title = "Edit Subscription";
}


<h2>@if (Model.ID==0) {<text>Create New Subscription</text>} else {<text>Edit Subscription</text> }</h2>

@Html.EditorFor(model=>model)
