@model OCM.API.Common.Model.User

@if (Model != null)
{

    ViewBag.Title = "OCM User Profile - " + Model.Username;
    <h2>@Model.Username - Profile and Stats</h2>

    if (Model.IsProfilePublic == true)
    {
        @Html.Partial("_PublicProfile", Model)
    }
    else
    {
        <p>This user profile is not public.</p>
    }

}
else
{
    <div class="alert alert-warning">The specified user profile does not exist</div>
}


