@model OCM.API.Common.Model.User

@if (Model != null)
{

    ViewBag.Title = "OCM User Profile - " + Model.Username;
    <h2>@Model.Username - Profile and Stats</h2>

    if (Model.IsProfilePublic == true)
    {
        @Html.Partial("_PublicProfile", Model)
    }
    else
    {
        <p>This user profile is not public.</p>
    }

   
    var isUserAdmin = (Session["IsAdministrator"] != null && (bool)Session["IsAdministrator"] == true);
    
    if (isUserAdmin)
    {
        <h2>Admin Options</h2>
        <a class="btn btn-danger" href="@Url.Action("EditUser", "Admin", new { id=Model.ID})">Edit User Details</a>
    }
}
else
{
    <div class="alert alert-warning">The specified user profile does not exist</div>
}


