@model OCM.API.Common.Model.Extended.DataQualityReport

<div>
    <h4>Data Quality Report</h4>
    <hr />


    @foreach (var i in Model.POIReports)
    {

        <h5>Data Quality Score: @i.DataQualityScore out of 100</h5>
    <ul>
        @foreach (var qualityItem in i.ReportItems)
        {
            <li>
                <span class="@(qualityItem.IsPositive?"text-success":"text-warning")">
                    <i class="fa fa-@(qualityItem.IsPositive?"check":"times")" aria-hidden="true"></i>
                </span> &nbsp;
                    @qualityItem.Category -
                    @qualityItem.Comment
                </li>
        }
        
    </ul>
    }
</div>
    