@model OCM.API.Common.Model.MetadataValue

<div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ItemValue)
        @Html.DisplayFor(model => model.MetadataFieldOption.Title)
    </div>
</div>

