<div class="license">
    Use of the services and data hosted by us is subject to the following terms (updated 13/09/2013):
    <ul>
        <li>Data supplied by OpenChargeMap.org is derived from a wide variety of public sources and contributions. We accept no liability for the accuracy of this data and provide no assurances.</li>

        <li>
            Data contributed to us by our users which we then redistribute is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.
            We are transitioning over to the Open Database License (ODbL) <a href="http://opendatacommons.org/licenses/odbl/1.0/">http://opendatacommons.org/licenses/odbl/1.0/</a> for our user-contributed data, so please ensure you also agree with those license terms.
        </li>
        <li>Data imported from 3rd party Data Providers is copyright the original Data Provider in each case and is not provided under the same terms as the user-contributed data detailed above. </li>
        <li>We will respond promptly to any DMCA or equivalent copyright protection request, please use our <a href="@Url.Action("contact","about")">Contact</a> page to lodge these requests, detailing the exact infringing items.</li>
        <li>Use of our API or data in an application or service requires that the appropriate Data Provider attribution be provided in a way which is visible the end user.</li>
    </ul>
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">
        <img alt="Creative Commons Licence" style="border-width: 0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" />
    </a>
</div>