@model OCM.API.Common.Model.ChargePoint

@if (ViewBag.EnablePreviewMode != true && Model.SubmissionStatus != null && Model.SubmissionStatus.IsLive == false)
{
    <div class="alert alert-danger">This listing is marked <strong>@Model.SubmissionStatus.Title</strong> and is not currently shown publically.</div>
}