
<p class="alert alert-info">By using our services or submitting information to Open Charge Map you agree to our <a target="_blank" href="@Url.Action("Terms","About")">standard terms, privacy policy and licensing.</a></p>