
<p class="alert alert-info">
    <span data-localize="ocm.infoText.disclaimer">By using our services or submitting information to Open Charge Map you agree to our <a target="_blank" class="alert-link" href="@Url.Action("Terms","About")" data-localize-id="link">standard terms, privacy policy and licensing</a>.
</p>
