<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
	    <add name="OCMEntitiesDebug" connectionString="Server=(local)\sqlexpress;Database=OCM_Live;Trusted_Connection=True;TrustServerCertificate=true" providerName="System.Data.EntityClient" />
    <add name="AzureStorage" connectionString="UseDevelopmentStorage=true;" />
  </connectionStrings>
  <appSettings>
    <add key="AzureMediaItemsContainerName" value="images" />
    <add key="Notifications_SendViaAPI" value="false" />
    <add key="NotificationSetting_LocationSubmitted" value="LocationSubmitted.htm;OCM - Location Submitted ({SubmissionStatusType}): {Description}" />
    <add key="NotificationSetting_LocationCommentReceived" value="LocationCommentReceived.htm;OCM - Location Comment Added: {Description}" />
    <add key="NotificationSetting_ContactUs" value="ContactUsMessage.htm;OCM - New Contact Us Message: {Description}" />
    <add key="NotificationSetting_FaultReport" value="FaultReport.htm;Open Charge Map - Location Fault Report" />
    <add key="NotificationSetting_SubscriptionNotification" value="SubscriptionNotification.htm;Open Charge Map - Subscription Notification" />
    <add key="NotificationSetting_PasswordReset" value="PasswordReset.htm;Open Charge Map - Confirm Password Reset" />
    <add key="DebugEmailAddress" value="" />
    <add key="DefaultRecipientEmailAddresses" value="changefordeployment@openchargemap.org" />
    <add key="DefaultSenderEmailAddress" value="no-reply@openchargemap.org" />
    <add key="MandrillAPIKey" value="" />
    <add key="SMTPHost" value="localhost" />
    <add key="SMTPUser" value="" />
    <add key="SMTPPwd" value="" />
    <add key="EnableEditQueue" value="true" />
    <add key="EnableErrorNotifications" value="true" />
    <add key="EnableOutputCompression" value="false" />
    <add key="OSM_API_Email" value="" />
    <add key="MapQuestOpen_API_Key" value="" />
    <add key="MongoDB_ConnectionString" value="mongodb://localhost" />
    <add key="MongoDB_Database" value="ocm_mirror" />
    <add key="CachePath" value="D:\Temp\OCMCache" />
    <add key="EnableInMemoryCaching" value="false" />
    <add key="MaxCacheAgeMinutes" value="1000" />
    <add key="EnableNotificationLogging" value="false" />
    <add key="EnableNoSQLCaching" value="true" />
    <add key="EnableDataWrites" value="true" />
    <add key="AWSMediaItemsContainerName" value="openchargemap" />
    <add key="AWSAccessKey" value="" />
    <add key="AWSAccessSecret" value="" />
  </appSettings>
</configuration>