<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\OCM.Web.dll" stdoutLogEnabled="true" hostingModel="inprocess">

      </aspNetCore>
		<httpCompression>
			<dynamicTypes>
				<add mimeType="application/json" enabled="true" />
			</dynamicTypes>
		</httpCompression>
    </system.webServer>
  </location>
</configuration>