.a-example-palette {
  color: #8cc63f;
  /*color-a*/
  color: #c6e29e;
  /*color-a-light*/
  color: #f4ffe5;
  /*color-a-pale*/
  color: #5f872a;
  /*color-b*/
  color: #70983b;
  /*color-b-light*/
  color: rgba(95, 135, 42, 0.5);
  /*color-b-semitrans*/
  color: #b9ff28;
  /*color-c-pale*/
}
/*
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    src: local('Oswald Light'), local('Oswald-Light'), url(http://themes.googleusercontent.com/static/fonts/oswald/v7/HqHm7BVC_nzzTui2lzQTDT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 300;
    src: local('Oxygen Light'), local('Oxygen-Light'), url(http://themes.googleusercontent.com/static/fonts/oxygen/v2/AwBqWF2kjhlybWamaKMPcT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

body {
    margin: 0;
    padding: 0;
    font-size: 10pt;
    font-family: @font-body;
}

@media (max-width: 480px) {
    body {
        padding-top: 0px;
    }
}

p {
    margin: 0.5em;
}

div.content {
    margin: 0;
    padding: 0 0 1em 0;
}

.container-wide {
    margin-top: 0;
    margin-right: 1em;
    margin-left: 1em;
    padding: 0;
    width: auto;
    max-width: none;
}

.info {
    display: block;
    margin: 2px;
    padding: 8px;
    border: none;
}

    .info > h3 {
        line-height: 1em;
    }

.license {
    padding: 6px;
    border: 1px solid #FFCC00;
    background-color: #FFFFCC;
    color: #993333;
}

.license, .info, div#ocm_map_container {
    border-radius: 6px;
}

.display-label, .editor-label {
    display: block;
    float: left;
    margin-right: 20px;
    width: 250px;
    text-align: left;
    font-weight: bold;
}

.display-field, .editor-field {
    display: block;
}


h1, h2, h3, h4, legend, .nav a, .nav a:visited, .nav a:link {
    font-family: @font-headings;
    font-weight: 300;
}

    h1 small, h2 small, h3 small {
        font-weight: 300;
    }

    .nav a, .nav a:visited, .nav a:link {
        font-size: 1.2em;
    }


    h1 small {
        padding-left: 0.5em;
        font-size: 0.7em;
        font-family: @font-headings;
    }

h1, h2 {
    margin-top: 0em;
    padding: 0.3em 0 0.2em 0;
    border-bottom: 0.1em solid @color-a-light;
    color: #464646;
}

h1 {
    font-size: 2.2em;
}

h2 {
    padding: 0.1em 0 0.1em 0.2em;
    margin-top: 0.3em;
    font-size: 1.8em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

.results-list {
   
    background-color: white;
}

div.result {
    
    margin: 1em;
    
    -webkit-box-shadow: -1px 2px 6px rgba(50, 50, 50, 0.38);
    box-shadow: -1px 2px 6px rgba(50, 50, 50, 0.38);
}

.result {
    h3 {
        margin: 0px;
        padding: 0.5em;
        background-color: @color-a;
        color: white;
        font-weight: 300 !important;
        font-size: 1.2em;
        font-family: @font-headings;
        line-height: 1em;
    }

    > div {
        padding: 0.8em;
    }

}


.details-description{
    padding:1em;
    background-color:whitesmoke;
}
#details-imageblock {
    width: 100%;
    height: 700px;
    border-radius: 8px;
    background-color: @color-black-semitrans;
}

    #details-imageblock > img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }


#locationdetails-container {
    padding: 1em;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
}

#map-container {
    padding: 1em;
    width: 90%;
    height: 100%;
    color: white;
}

.nearby-place {
    margin: 0.5em;
    padding: 0.5em;
}

div.details-container {
}

.details-container {
    position: relative;
    top: -700px;
    padding: 1em;
  
    background-color: @color-black-semitrans;
    color: white;

    h1, h2 {
        margin: 0.1em;
        padding: 0.2em;
        border-bottom: 2px solid @color-black-semitrans;
       
    }

    a, a:visited {
        color: @color-a;
    }

        a.btn {
            color: white;
        }

    .tab-content {
    }

        .tab-content > .active {
            padding: 0.3em;
            background-color: @color-black-semitrans;
        }

    .nav-tabs > .active > a:focus {
        color: black;
    }

    .ocm-label, .table-responsive > .table > tbody > tr > th, .table th, blockquote strong {
        color: @color-a-light;
    }

    .nearby-place {
        border: 1px solid @color-b;
        background-color: @color-b-semitrans;
        color: white;
    }
}

div.stat {
    padding: 6px;
    max-width: 128px;
    border: none;
}

.stat {
    h2 {
        margin: 0;
        padding: 24px;
        width: 96px;
        height: 96px;
        border: 2px solid @color-c;
        border-radius: 48px;
        background-color: @color-a;
        color: white;
        vertical-align: sub;
        text-align: center;
        font-size: 24px;
    }

    p {
        vertical-align: central;
        text-align: center;
        font-family: @font-headings;
    }

    a {
        color: inherit;
        text-decoration: none;
    }
}

.well {
    border: none;
    background-color: @color-a-pale;
}


#datasummary {
    font-size: 0.8em;
}

.thumbnail {
    background-color: @color-a-pale;
    color: #333;
}

.navbar {
    margin-bottom: 0;
    border: none;
}

.breadcrumb {
    margin-top: 2em;
    background-color: @color-a-pale;
}

.field-validation-error {
    color: red;
}

.map-box {
    background-color: #B3D1FF;
    -webkit-box-shadow: 0px 0px 8px #c0c0c0;
    box-shadow: 0px 0px 8px #c0c0c0;
    
}

    .map-box img {
        max-width: none !important;
    }

.geochart {
    text-align: center;
    background-color: #B3D1FF;
    height: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10%;
    padding-right: 10%;
    overflow: hidden;
}

    .geochart .well {
        background-color: rgba(255, 255, 255, 0.51);
    }

div.details-plain {
    padding: 0;
    background-color: white;
    top: 0;
}

.details-plain {
    h1, h2, h3 {
        color: rgb(103, 103, 103);
    }

    .tabbable {
        background-color: transparent;
    }

    #locationdetails-container, .tab-content > .active {
        background-color: transparent;
        color: rgb(103, 103, 103);
    }

    .ocm-label, .table-responsive > .table > tbody > tr > th, .table th, blockquote strong {
        color: rgb(103, 103, 103);
    }

    .nearby-place {
        color: rgb(103, 103, 103);
        background-color: @color-a-pale;
        border-color: @color-a-light;
    }

    .place-img {
        float: left;
        padding: 1em 1em 0em 0em;
    }
}


.table-responsive > .table {
    background-color: transparent;
}

.tab-pane {
    min-height: 300px;
    padding: 0.3em;
}

.form-actions {
    padding: 1em;
    background-color: #f8f8f8;
    overflow:auto;
}

.display-group {
    display: block;
    clear: both;
}


.login-provider {
    border: 1px solid #f2fae6;
    width: 200px;
    height: 60px;
    margin: 8px;
    padding: 8px;
    overflow: hidden;
}

.login-provider-preferred {
    border: 3px solid green;
}

div[data-editormode="core"] label {
    color: @color-b;
}

div[data-editormode="extended"] {

    label {
        color: @color-a;
    }
}

div[data-editormode="advanced"] {

    label {
        color: @color-b-light;
    }
}


@media (max-width: 480px) { 
    .nav-tabs > li {
        float:none;
    }
}

.panel-info{
   
    border-color:#EEEEEE;
}
.panel-info .panel-heading {
    border-color:#EEEEEE;
    background-color:#f8f8f8;
}

.banner-container  p > a{
    text-decoration:underline;
}
@media print{
    .footer{
            display:none;
    }
}
.alert-info {
    border-color: @color-a-light;
    background-color: @color-a-pale;
}

.details-container .alert-danger, .alert-danger {
    color: white;
    background-color:#FA8B8B;
    font-weight:normal;
    border:none;
    
    a, a:hover, a:visited, a:link{
        color:white;
        text-decoration: underline;
    }
}

.app-container {
   margin-top:-1em;
   
}


.app-loading {
  position:absolute;
  z-index:-10;
  color: #AAAAAA;
  font-size:36px;
}
.banner-container {
  
  padding:0;
}
    */
.navbar-brand,
.navbar-inverse .navbar-brand {
  background-image: url('images/AppIcon_36x36.png');
  background-repeat: no-repeat;
  background-position: 6px 6px;
  padding-left: 46px;
  color: white;
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: 300;
  padding-top: 14px;
  height: 42px;
}
.navbar-inverse {
  background-color: #567b24;
  background-image: none;
  border: none;
}
.navbar-inverse .navbar-text {
  color: #5f872a;
}
.navbar-inverse .nav > li > a {
  color: #fff;
  text-transform: lowercase;
}
.navbar-inverse .nav > li > a:hover,
.dropdown-menu > li > a:hover,
.navbar-nav > li > a:hover {
  background-color: #8cc63f;
}
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.open > .dropdown-toggle:hover {
  background-color: #9dd750;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: white;
  }
}
.banner-container {
  margin-top: -21px;
}
.banner-backdrop {
  border-radius: 0;
  background-color: #70983b;
  background-image: url('images/world2.jpg');
  color: white;
  overflow: auto;
}
.banner-backdrop a,
.banner-backdrop a:visited {
  color: white;
}
.banner-backdrop h2 > small {
  font-size: 0.5em;
  color: white;
}
.banner-backdrop h3 > small {
  color: rgba(255, 255, 255, 0.92);
}
h1 small {
  padding-left: 0.2em;
}
.banner-foreground {
  background-color: #70983b;
}
.attribution {
  margin-top: -10px;
  font-style: italic;
  font-size: 0.5em;
}
.form-actions {
  background-color: #f4ffe5;
  padding: 1em;
}
.social {
  display: inline;
  margin-right: 4em;
  font-size: 1.618em;
}
.social a:link,
.social a:hover,
.social a:visited {
  color: #70983b;
}
.applinks {
  background: rgba(255, 255, 255, 0.1);
  padding: 1em;
  border-bottom-left-radius: 8px;
  margin-left: 4em;
  position: relative;
  z-index: 2;
}
footer,
div.footer {
  margin: 16px;
  padding: 16px;
  border-top: 1px dotted #8cc63f;
  color: #464646;
  text-align: center;
  font-size: 8pt;
  background-color: #f8fbf7;
}
i.home-icons {
  font-size: 64px;
  font-size: 6vw;
  color: #646464;
}
/*# sourceMappingURL=OCM.css.map */