.a-example-palette {
  color: #8cc63f;
  /*color-a*/
  color: #C6E29E;
  /*color-a-light*/
  color: #f4ffe5;
  /*color-a-pale*/
  color: #5f872a;
  /*color-b*/
  color: #70983b;
  /*color-b-light*/
  color: rgba(95, 135, 42, 0.5);
  /*color-b-semitrans*/
  color: #B9FF28;
  /*color-c-pale*/
}
.navbar-brand,
.navbar-inverse .navbar-brand {
  background-image: url('images/AppIcon_36x36.png');
  background-repeat: no-repeat;
  background-position: 6px 6px;
  padding-left: 46px;
  color: white;
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: 300;
  padding-top: 14px;
  height: 42px;
}
.navbar-inverse {
  background-color: black ;
  background-image: none;
  border: none;
}
.navbar-inverse .navbar-text {
  color: #5f872a;
}
.navbar-inverse .nav > li > a {
  color: #fff;
  text-transform: lowercase;
}
.navbar-inverse .nav > li > a:hover,
.dropdown-menu > li > a:hover,
.navbar-nav > li > a:hover {
  background-color: #8cc63f;
}
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.open > .dropdown-toggle:hover {
  background-color: #9dd750;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: white;
  }
}
.banner-container {
  margin-top: -40px;
  text-shadow: 1px 1px 1px #000;
}
.banner-backdrop {
  border-radius: 0;
  /* background-color: @color-b-light;
    background-image: url('images/world2.jpg');*/
  color: white;
}
.banner-backdrop a,
.banner-backdrop a:visited {
  color: white;
}
.banner-backdrop h2 > small {
  font-size: 0.5em;
  color: white;
}
.banner-backdrop h3 > small {
  color: rgba(255, 255, 255, 0.92);
}
h1 small {
  padding-left: 0.2em;
}
.banner-foreground {
  background-color: #70983b;
}
.attribution {
  margin-top: -10px;
  font-style: italic;
  font-size: 0.5em;
}
.form-actions {
  background-color: #f4ffe5;
  padding: 1em;
}
.social {
  display: inline;
  margin-right: 4em;
  font-size: 1.618em;
}
.social a:link,
.social a:hover,
.social a:visited {
  color: #70983b;
}
.applinks {
  background: rgba(255, 255, 255, 0.1);
  padding: 1em;
  border-bottom-left-radius: 8px;
  margin-left: 4em;
  position: relative;
  z-index: 2;
}
footer,
div.footer {
  margin: 16px;
  padding: 16px;
  border-top: 1px dotted #8cc63f;
  color: #464646;
  text-align: center;
  font-size: 8pt;
  background-color: #f8fbf7;
}
i.home-icons {
  font-size: 64px;
  font-size: 6vw;
  color: white;
}
.tab-pane {
  padding: 1em;
}
.container {
  width: 100%;
}