<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtime>
		
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		
				<dependentAssembly>
		
						<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
		
						<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
		
				</dependentAssembly>
		
		</assemblyBinding>
	</runtime>
 <system.serviceModel>
  <bindings>
 
    <wsHttpBinding>
      <binding name="WSSBinding">
        <security mode="Message">
          <message clientCredentialType="UserName" />
        </security>
      </binding>
    </wsHttpBinding>
  </bindings>
  <client>
   <endpoint address="https://webservice.chargepointportal.net:8081/index.php/coulombwebservices/services/1.1" binding="wsHttpBinding" bindingConfiguration="WSSBinding" contract="NetworkServices.ThirdPartyServices.Coulomb.coulombservices" name="coulombservicesSOAP" />
  </client>
 </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup></configuration>
