@model OCM.API.Common.Model.POIRecentActivity

@{
    ViewBag.Title = "Activity";
}

<h1>Recent OCM Activity</h1>

<div>
    <h2>Recent Photos <small>contributed by OCM users</small></h2>
    <ul class="thumbnails">
        @foreach (var item in Model.RecentMedia.Where(i => i.IsEnabled))
        {
            <li class="span1">
                <a class="thumbnail" href="@Url.Action("Details","POI", new {id=item.ChargePointID})">
                    <img src="@item.ItemThumbnailURL"/>
                </a>
            </li>    
        }
    </ul>
</div>

<div class="row-fluid">
    <div class="span4">
        <h2>New Locations <small>recently added</small></h2>
        @Html.Partial("_POIList", Model.POIRecentlyAdded)
    </div>
    <div class="span8">
        <h2>Recent Comments <small>added by users</small></h2>
        @Html.DisplayFor(poiSummary=>poiSummary.RecentComments)
    </div>
</div>
