@model OCM.MVC.Models.POIBrowseModel

@{
    ViewBag.Title = "Browse Charging Locations";
}

<h2>Browse Charging Locations</h2>

<div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Tip:</strong> If you just need a quick way to find your nearest charging location you can also try our <a href="http://openchargemap.org/app/">Web App</a>, especially on mobile devices. You can also search your device App Store for a version you can carry around.
</div>

<div class="well well-small">
    @Html.Partial("_POISearch", (OCM.MVC.Models.POIBrowseModel)Model)
</div>

@if (ViewBag.FormattedAddress != null)
{
    <div><strong>Searching location: @ViewBag.FormattedAddress</strong></div>
}

@Html.Partial("_POIList", Model.POIList)
