<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="service.ashx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <connectionStrings>
    <add name="OCMEntities" connectionString="metadata=res://*/Data.DataModel.csdl|res://*/Data.DataModel.ssdl|res://*/Data.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\SQLEXPRESS;initial catalog=OCM_Live;integrated security=True;multipleactiveresultsets=True;App=OCM.API.Web&quot;" providerName="System.Data.EntityClient" />
    <add name="AzureStorage" connectionString="UseDevelopmentStorage=true;" />
  </connectionStrings>
  <appSettings>
    <add key="NotificationSetting_LocationSubmitted" value="LocationSubmitted.htm;OCM - Location Submitted ({SubmissionStatusType}): {Description}" />
    <add key="NotificationSetting_LocationCommentReceived" value="LocationCommentReceived.htm;OCM - Location Comment Added: {Description}" />
    <add key="NotificationSetting_ContactUs" value="ContactUsMessage.htm;OCM - New Contact Us Message: {Description}" />
    <add key="NotificationSetting_FaultReport" value="FaultReport.htm;Open Charge Map - Location Fault Report" />
    <add key="DebugEmailAddress" value="" />
    <add key="DefaultRecipientEmailAddresses" value="changefordeployment@openchargemap.org" />
    <add key="DefaultSenderEmailAddress" value="no-reply@openchargemap.org" />
    <add key="SMTPHost" value="localhost" />
    <add key="SMTPUser" value="" />
    <add key="SMTPPwd" value="" />
    <add key="EnableEditQueue" value="true" />
    <add key="EnableErrorNotifications" value="true" />
    <add key="EnableOutputCompression" value="false" />
  </appSettings>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.4.0.0" newVersion="5.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.4.0.0" newVersion="5.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.4.0.0" newVersion="5.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>