<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="resizer" type="ImageResizer.ResizerSection,ImageResizer" requirePermission="false" />

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>

  <resizer>
    <plugins>
      <add name="AutoRotate" />
      <!-- <add name="DiskCache" /> -->
      <!-- <add name="PrettyGifs" /> -->
    </plugins>
  </resizer>

  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0" />
    <!--max post 50MB, max execution time 3 mins-->
    <httpRuntime maxRequestLength="100000" executionTimeout="300" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="service.ashx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <connectionStrings>
    <add name="OCMEntities" connectionString="metadata=res://*/Data.DataModel.csdl|res://*/Data.DataModel.ssdl|res://*/Data.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\SQLEXPRESS;initial catalog=OCM_Live;integrated security=True;multipleactiveresultsets=True;App=OCM.API.Web&quot;" providerName="System.Data.EntityClient" />
    <add name="OCMModelContext" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=OCM_Live;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="AzureStorage" connectionString="UseDevelopmentStorage=true;" />
  </connectionStrings>
  <appSettings>
    <add key="AzureMediaItemsContainerName" value="images" />
    <add key="Notifications_SendViaAPI" value="false" />
    <add key="NotificationSetting_LocationSubmitted" value="LocationSubmitted.htm;OCM - Location Submitted ({SubmissionStatusType}): {Description}" />
    <add key="NotificationSetting_LocationCommentReceived" value="LocationCommentReceived.htm;OCM - Location Comment Added: {Description}" />
    <add key="NotificationSetting_ContactUs" value="ContactUsMessage.htm;OCM - New Contact Us Message: {Description}" />
    <add key="NotificationSetting_FaultReport" value="FaultReport.htm;Open Charge Map - Location Fault Report" />
    <add key="NotificationSetting_SubscriptionNotification" value="SubscriptionNotification.htm;Open Charge Map - Subscription Notification" />
    <add key="NotificationSetting_PasswordReset" value="PasswordReset.htm;Open Charge Map - Confirm Password Reset" />
    <add key="DebugEmailAddress" value="" />
    <add key="DefaultRecipientEmailAddresses" value="changefordeployment@openchargemap.org" />
    <add key="DefaultSenderEmailAddress" value="no-reply@openchargemap.org" />
    <add key="MandrillAPIKey" value="" />
    <add key="SMTPHost" value="localhost" />
    <add key="SMTPUser" value="" />
    <add key="SMTPPwd" value="" />
    <add key="EnableEditQueue" value="true" />
    <add key="EnableErrorNotifications" value="true" />
    <add key="EnableOutputCompression" value="true" />
    <add key="OSM_API_Email" value="" />
    <add key="MapQuestOpen_API_Key" value="" />

    <add key="MongoDB_ConnectionString" value="mongodb://localhost" />
    <add key="MongoDB_Database" value="ocm_mirror" />
    <add key="CachePath" value="C:\Temp\OCMCache" />
    <add key="EnableInMemoryCaching" value="false" />
    <add key="MaxCacheAgeMinutes" value="1000" />
    <add key="EnableNotificationLogging" value="false" />
    <add key="EnableNoSQLCaching" value="true" />
  </appSettings>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.4.0.0" newVersion="5.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="authorization,content-type" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>-->
</configuration>