<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.webServer>
      <defaultDocument>
        <files>
          <clear />
          <add value="mapembed.htm" />
        </files>
      </defaultDocument>
  </system.webServer>
</configuration>