@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Complete App Login</title>

    <script>
        function getSignInResult() {
            var userInfo = {
                "Identifier": this.getCookie("Identifier"),
                "Username": this.getCookie("Username"),
                "SessionToken": this.getCookie("OCMSessionToken"),
                "AccessToken": this.getCookie("AccessToken"),
                "Permissions": this.getCookie("AccessPermissions")
            };

            return userInfo;
        }
    </script>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
