@{
    ViewBag.Title = "Password Reset";
}

<h2>Password Reset Failed</h2>
<p class="alert alert-warning">We could not continue with the requested password reset. Please check you are using the latest confirmation link sent to you as only the latest link will work.</p>

<a href="@Url.Action("PasswordReset", "LoginProvider")">Request another password reset</a>