<?xml version='1.0' encoding='utf-8'?>
<widget id="com.webprofusion.openchargemap" version="5.0.15" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Open Charge Map</name>
  <description>
    Find electric vehicle charging locations around the world.
  </description>
  <author email="apps@webprofusion.com" href="http://webprofusion.com">
    Webprofusion
  </author>
  <content src="index.html" />
  <access origin="*" />

  <preference name="DisallowOverscroll" value="true" />
  <preference name="SplashScreen" value="screen" />
  <preference name="SplashScreenDelay" value="4000" />
  <preference name="fullscreen" value="false" />
  <preference name="android-windowSoftInputMode" value="stateVisible" />
</widget>