@model IEnumerable<OCM.API.Common.Model.DiffItem>

<table class="table table-bordered table-striped table-condensed">
    <tr>
        <th>
           Field
        </th>
        <th>
            Old Value
        </th>
        <th>
           New Value
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <strong>@Html.DisplayFor(modelItem => item.Context)</strong>
        </td>
        <td>
            <span class="text-success">@Html.DisplayFor(modelItem => item.ValueA)</span>
        </td>
        <td>
            <span class="text-danger">@Html.DisplayFor(modelItem => item.ValueB)</span>
</td>
    </tr>
}

</table>
