
<h2>Subscription Notification from Open Charge Map</h2>
<h3>Hi {UserName},</h3>
<h3>There are new items matching your subscription "{SubscriptionTitle}":</h3>
{SummaryContent}
<p>
    You have received this message because these new or updated items match your subscription settings. To edit or deactivate your subscription, Sign In to http://openchargemap.org and choose my subscriptions from the my profile menu.
</p>

<p>
    Thanks,
    <br />
    Open Charge Map
    <br />
    http://openchargemap.org
</p>

<p>
    <a href="{SubscriptionEditURL}">Edit or Disable Your Subscription</a>
</p>






