@{
    ViewBag.Title = "Apps using Open Charge Map data and services";
}

<h2>Apps, Sites and Services using Open Charge Map</h2>
<p>Anyone can <a href="@Url.Action("Index", "Develop")">build</a> an app or service which makes Open Charge Map data available for people to use. The following is a partial list of the apps, websites and services use the Open Charge Map data or API:</p>
<h3>Apps using Open Charge Map</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th style="width: 66%">Details</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <h5>Open Charge Map Mobile App</h5>
                The official Open Charge Map app provide a way for anyone to access OCM charging locations on your iPhone, iPad, Android and Windows Phones or directly from your Desktop.
            </td>
            <td>
                <ul>
                    <li>Web (Desktop or Mobile): <a href="http://openchargemap.org/app">Link</a></li>
                    <li>iTunes: <a href="http://itunes.apple.com/us/app/open-charge-map/id528951115">Link</a>                        </li>
                    <li>Google Play (Android): <a href="https://play.google.com/store/apps/details?id=com.webprofusion.openchargemap&hl=en">Link</a></li>
                    <li>Windows Phone 8 (and upwards): <a href="http://www.windowsphone.com/en-us/store/app/open-charge-map/8ce2514e-7b93-4781-856d-e75ede44017a">Link</a></li>
                    <li>Chrome Web Store (Google Chrome): <a href="https://chrome.google.com/webstore/detail/fepcdmnlhfbdegldjodemkdphogkdihd">Link</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <h5>ChargeBud</h5>
                Provides charging location browsing via map.
            </td>

            <td>
                <ul>
                    <li>iTunes: <a href="http://itunes.apple.com/gb/app/chargebud/id533905419?mt=8">Link</a></li>
                    <li>Android: <a href="https://play.google.com/store/apps/details?id=com.cms.android.ChargeBud">Link</a></li>
                </ul>
            </td>
        </tr>

        <tr>
            <td>
                <h5>LEAF Control</h5>
                Charging location information and access to the Nissan LEAF CARWINGS system for communication with your LEAF.
            </td>
            <td>
                <ul>
                    <li>Android: <a href="https://play.google.com/store/apps/details?id=com.applications.lawsystems.leafcontrol">Link</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <h5>ChargeItMap</h5>
                Provides charging location browsing via map.
            </td>
            <td>
                <ul>
                    <li>Android: <a href="https://play.google.com/store/apps/details?id=com.blui.chargeitmap">Link</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <h5>LEAF Link</h5>
                Charging location information and access to the Nissan LEAF CARWINGS system for communication with your LEAF.
            </td>
            <td>
                <ul>
                    <li>iTunes : <a href="http://itunes.apple.com/us/app/leaf-link/id542304940?mt=8">Link</a></li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<h3>Route &amp; Journey Planners</h3>
<table class="table table-striped table-bordered table-condensed">
    <tr>
        <td>
            <h5>EV Trip Planner</h5>
            A trip planner with physics based energy usage modelling.
        </td>
        <td>
            <ul>
                <li><a href="https://evtripplanner.com/">https://evtripplanner.com/</a></li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <h5>EV Route Planner</h5>
            A EV journey planner.
        </td>
        <td>
            <ul>
                <li><a href="http://www.evzone.org.uk/planner/">http://www.evzone.org.uk/planner/</a></li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <h5>EV Route</h5>
            A EV route planner.
        </td>
        <td>
            <ul>
                <li><a href="http://evroute.controtex.com/">http://evroute.controtex.com/</a></li>
            </ul>
        </td>
    </tr>
</table>

<h3>Other websites using Open Charge Map data and widgets</h3>

<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th style="width: 66%">Details</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <h5>Zero:Net</h5>
                Website for the UK Zero:Net public charging network supplied by the UK Charity Zero Carbon World. This site uses the OCM API as a feed into their own content management system.
            </td>
            <td>
                <ul>
                    <li><a href="http://www.zerocarbonworld.org/zero-net">http://www.zerocarbonworld.org/zero-net</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <h5>Electric Car Buyer</h5>
                Electric vehicle consumer information and comparison site.
            </td>
            <td>
                <ul>
                    <li><a href="http://electriccarbuyer.com">http://electriccarbuyer.com</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <h5>Tesla Portal Page</h5>
                Portal page designed for use on the Tesla Model S console touchscreen.
            </td>
            <td>
                <ul>
                    <li><a href="http://teslapage.com/">http://teslapage.com/</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <h5>The Electric Car Guide</h5>
                Discover the truth about owning and using an electric car.
            </td>
            <td>
                <ul>
                    <li><a href="http://www.theelectriccarguide.net/electric-car-charging.html">http://www.theelectriccarguide.net/electric-car-charging.html</a></li>
                </ul>
            </td>
        </tr>

        <tr>
            <td>
                <h5>Eco Cars For Sale</h5>
                Find electric, hybrid, LPG and other eco cars for sale in your area
            </td>
            <td>
                <ul>
                    <li><a href="https://www.ecocars4sale.com/electric-car-charging-map">https://www.ecocars4sale.com/electric-car-charging-map</a></li>
                </ul>
            </td>
        </tr>

        <tr>
            <td>
                <h5>electriccar2buy</h5>
                Find electric cars for sale.
            </td>
            <td>
                <ul>
                    <li><a href="https://www.electriccar2buy.co.uk/news/electric-car-charging-map">https://www.electriccar2buy.co.uk/news/electric-car-charging-map</a></li>
                </ul>
            </td>
        </tr>

        <tr>
            <td>
                <h5>Leaf Talk</h5>
                UK based site for Nissan Leaf Owners.
            </td>
            <td>
                <ul>
                    <li><a href="http://www.leaftalk.co.uk/content.php">http://www.leaftalk.co.uk/content.php</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <h5>The Charging Point</h5>
                UK based news and information site about electric vehicles.
            </td>
            <td>
                <ul>
                    <li><a href="http://www.thechargingpoint.com/knowledge-hub/charging-points.html">http://www.thechargingpoint.com/knowledge-hub/charging-points.html</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <h5>EV Maps</h5>
                EV Charging Locations site
            </td>
            <td>
                <ul>
                    <li><a href="http://evmaps.info/">http://evmaps.info/</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <h5>The Green Car Website</h5>
                UK Based Low Carbon vehicle news, reviews and info.
            </td>
            <td>
                <ul>
                    <li><a href="http://www.thegreencarwebsite.co.uk/blog/index.php/available-uk-charge-points-for-electric-vehicles/">http://www.thegreencarwebsite.co.uk/blog/index.php/available-uk-charge-points-for-electric-vehicles/</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <h5>EV Mobile</h5>
                Polish EV Information site.
            </td>
            <td>
                <ul>
                    <li><a href="http://evmobile.pl/en_%7BWHERE_TO_RECHARGE%7D.html">http://evmobile.pl/</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <h5>eGear.be</h5>
                Belgian EV Information site.
            </td>
            <td>
                <ul>
                    <li><a href="http://www.egear.be/oplaadpunten/">http://www.egear.be/oplaadpunten/</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <h5>RedPoint Engineering</h5>
                US based EV engineering company.
            </td>
            <td>
                <ul>
                    <li><a href="http://rp-eng.com/">http://rp-eng.com/</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <h5>EVA Scotland</h5>
                Official website for the Electric Vehicle Association Scotland.
            </td>
            <td>
                <ul>
                    <li><a href="http://www.eva-scotland.org/">http://www.eva-scotland.org/</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td><h5>My Renault Zoe</h5> News and comment on the Renault ZOE</td>
            <td>
                <ul>
                    <li><a href="http://myrenaultzoe.com/index.php/zoe-charge-points/">http://myrenaultzoe.com/index.php/zoe-charge-points/</a>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <h5>CCS Map</h5>
                CCS/Combo Charge Map
            </td>
            <td>
                <ul>
                    <li><a href="http://ccs-map.eu/">http://ccs-map.eu/</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <h5>BuyElectricVehicleCharger.com</h5>
                Charging Stations Reviews &amp; Charging Station Map
            </td>
            <td>
                <ul>
                    <li><a href="http://www.buyelectricvehiclecharger.com/">http://www.buyelectricvehiclecharger.com/</a></li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<p>Know of an app we haven't listed here or would like your site listed? <a href="../../about/contact/">Contact Us</a></p>