@{
    ViewBag.Title = "GeneralError";
}

<h2>Ooops. Something broke.</h2>
<p>Sorry, something went wrong. Our system administrators have been notified of the fault. Please check back later to see if the problem is fixed or @Html.ActionLink("Contact Us","Contact","About").</p>