@{
    ViewBag.Title = "Not Signed In";
}

<h2>Oops, you need to sign in</h2>
Sorry, the feature you tried to access requires you to be signed in.
<a href="@Url.Action("SignIn","Profile")" class="btn btn-primary">Sign In</a>