<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Import.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
      <bindings>

        <wsHttpBinding>
          <binding name="WSSBinding">
            <security mode="TransportWithMessageCredential">
              <transport clientCredentialType="None"></transport>
              <message clientCredentialType="UserName" establishSecurityContext="false" negotiateServiceCredential="false" />
            </security>
          </binding>
        </wsHttpBinding>
        <customBinding>
          <binding name="MyBinding">
            <security authenticationMode="UserNameOverTransport" includeTimestamp="false" />
            <textMessageEncoding messageVersion="Soap11" />
            <httpsTransport maxReceivedMessageSize="2000000000" />
          </binding>
        </customBinding>
      </bindings>
      <client>
        <endpoint address="https://webservice.chargepointportal.net:8081/index.php/coulombwebservices/services/1.1" binding="customBinding" bindingConfiguration="MyBinding" contract="NetworkServices.ThirdPartyServices.Coulomb.coulombservices" name="coulombservicesSOAP" />
      </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" /></startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <userSettings>
  <Import.Properties.Settings>
   <setting name="OCM_API_Identitifer" serializeAs="String">
    <value>System</value>
   </setting>
   <setting name="OCM_API_SessionToken" serializeAs="String">
    <value />
   </setting>
   <setting name="Geonames_API_Username" serializeAs="String">
    <value>demo</value>
   </setting>
   <setting name="Import_DataFolder" serializeAs="String">
    <value>C:\Temp\ocm\data\import\</value>
   </setting>
   <setting name="APIKey_Coulomb" serializeAs="String">
    <value />
   </setting>
   <setting name="APIPwd_Coulomb" serializeAs="String">
    <value />
   </setting>
   <setting name="APIKey_NobilDotNo" serializeAs="String">
    <value />
   </setting>
  </Import.Properties.Settings>
 </userSettings>
</configuration>
