<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Import.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <userSettings>
    <Import.Properties.Settings>
      <setting name="OCM_API_Identitifer" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="OCM_API_SessionToken" serializeAs="String">
        <value />
      </setting>
      <setting name="Geonames_API_Username" serializeAs="String">
        <value>demo</value>
      </setting>
      <setting name="Import_DataFolder" serializeAs="String">
        <value>C:\Temp\ocm\data\import\</value>
      </setting>
      <setting name="APIKey_Coulomb" serializeAs="String">
        <value />
      </setting>
      <setting name="APIPwd_Coulomb" serializeAs="String">
        <value />
      </setting>
      <setting name="APIKey_NobilDotNo" serializeAs="String">
        <value />
      </setting>
    </Import.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="GeolocationShapefilePath" value="C:\Temp\ocm\data\import\Shapefiles\World" />
    <add key="APIBaseUrl" value="https://api-01.openchargemap.io/v3" />
    <add key="ImportBasePath" value="C:\Temp\ocm\data\import" />

  </appSettings>
</configuration>
