@using OCM.API.Common.Model
@model List<OCM.API.Common.Model.EditQueueItem>

@{
    ViewBag.Title = "Edit Queue";
}

<h2>Edit Queue</h2>
<p>The Edit Queue shows pending additions or edits which have been proposed by other Open Charge Map users. Country Editors can see edits and approve or reject them here.</p>
@Html.Partial("_EditQueueFilter", (EditQueueFilter)ViewBag.EditFilter)

@Html.Partial("_DisplayEditQueueList")