body
{
	font-family: Arial;
	font-size: 9pt;
	padding: 8px;
	margin: 0px;
}
h1
{
	font-size: 11pt;
}
a, a:visited, :link
{
	color: Blue;
}
.datagrid
{
	border-collapse: collapse;
	border: 1px solid gainsboro;
}
.datagrid td, .datagrid th
{
	border: 1px solid gainsboro;
	padding: 4px;
}
.datagrid th
{
	background-color: #fcfcfc;
}
td
{
	vertical-align: top;
}

#editContainer
{
	border: 1px solid gainsboro;
	position: absolute;
	padding: 8px;
	display: none;
}
label
{
	width: 300px;
	display: block;
	float: left;
}

fieldset
{
	border: 1px solid #f2f9fe;
}
legend
{
	font-weight: bold;
}

#debug
{
	display: none;
}

/* gradients - http://www.colorzilla.com/gradient-editor/ */
th
{
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C */
}
tr.alternate, #editContainer, #searchOptions
{
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
}

/*map related styles*/

html
{
	height: 100%;
}
body
{
	height: 100%;
}
#mapCanvas
{
	height: 200px;
	width: 600px;
	border: 1px solid gainsboro;
	margin: 6px;
}
