@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Complete App Login</title>

    <script>
        function getCookie(c_name) {
            //http://www.w3schools.com/js/js_cookies.asp
            var i, x, y, ARRcookies = document.cookie.split(";");
            for (i = 0; i < ARRcookies.length; i++) {
                x = ARRcookies[i].substr(0, ARRcookies[i].indexOf("="));
                y = ARRcookies[i].substr(ARRcookies[i].indexOf("=") + 1);
                x = x.replace(/^\s+|\s+$/g, "");
                if (x == c_name) {
                    var val = unescape(y);
                    if (val == "null") val = null;
                    return val;
                }
            }
            return null;
        };

        function getSignInResult() {
            var userInfo = {
                "Identifier": this.getCookie("Identifier"),
                "Username": this.getCookie("Username"),
                "SessionToken": this.getCookie("OCMSessionToken"),
                "AccessToken": "",
                "Permissions": this.getCookie("AccessPermissions")
            };

            return userInfo;
        }
    </script>
</head>
<body>
    <div>
        Login Completed. Redirecting back to application.
    </div>
</body>
</html>
