<script type="text/javascript" src="~/Scripts/OCM/GeoSummary.js?v=2"></script>
<script type="text/javascript" src="https://api.openchargemap.io/widgets/databrowser/datasummary.ashx"></script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


<div class="geochart" id="geochart" style="display:none;">
    <div class="well well-sm">
        <div id="datasummary"></div>
    </div>
    <div id="visualization"></div>
</div>

<script type="text/javascript">

    var ocmSummary = new OCM.Widgets.GeoSummary("geochart", "datasummary");

    function initChart() {
        if (ocmSummary != null) {
            ocmSummary.show();
        } else {
            setTimeout(function () {
                //TODO: hack
                ocmSummary.show();
            }, 2000);
        }
    }

     google.charts.load('current', {
        'packages': ['geochart'],
        // Note: you will need to get a mapsApiKey for your project.
        // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
        'mapsApiKey': ''
    });
    google.charts.setOnLoadCallback(initChart);
    
    
</script>