 <!-- Page:About:Start -->
<div data-role="page" id="about-page" class="ui-page">
    <div data-role="header" data-position="fixed">
        <div>
            <a href="javascript:void();" data-rel="back"><i class="icon-chevron-left"></i>&nbsp;<i class="icon-home"></i></a>
            <div style="float: right"><i class="icon-question-sign"></i>&nbsp;<span data-localize="ocm.general.about">About</span></div>
        </div>
    </div>
    <div data-role="content" class="container">
        <div class="ui-body ui-body-a">
            <div data-role="collapsible" data-collapsed="false">
                <h2 data-localize="ocm.general.about">About</h2>
                <h3>Open Charge Map App APPVERSION</h3>
                <p>
                    <img alt="OCM Logo" src="images/icons/AppIcon_72x72.png" style="float: right; padding: 4px;" />
                    <strong>Open Charge Map</strong> is the world's largest
                    <abbr title="Our data is accessible in full, globally. Our development is also open source.">open</abbr>
                    global registry of electric vehicle charging locations, dedicated to providing the most complete information possible.
                </p>
                <p>
                    You can use this app to find charging equipment locations near you, provide ratings and comments and to submit details of locations we don't currently have.
                </p>

                <p>
                    Please send us your <a target="_blank" href="http://openchargemap.org/site/about/contact">feedback &amp; comments</a>. You can read more about the project at <a target="_blank" href="http://openchargemap.org">http://openchargemap.org</a>.
                </p>
                <p style="font-size: smaller;"><strong>Privacy Notice:</strong> This application may need to use and process your location as provided by you or your device, this information may be temporarily logged in some instances. To prevent sharing your location you may disable Location Services on your device. In addition, as this application is based around open sharing of information, comments or information submitted by you will be made public, however your own location is not shared publically.  If you have questions, <a target="_blank" href="http://openchargemap.org/about/contact">contact us</a>. </p>

            </div>

            <div data-role="collapsible" data-collapsed="false">
                <h4>About Open Charge Map</h4>

                <p>
                    For more details about the OpenChargeMap project please visit <a target="_blank" href="http://openchargemap.org">http://openchargemap.org</a>
                </p>
                <p>
                    Data supplied by OpenChargeMap.org is derived from public sources and data contributions and is supplied to end users without warranty. Licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons BY-SA 3.0.</a>
                </p>

                <h3>Credits</h3>
                <p><em>OpenChargeMap Concept, Marketing &amp; Hosting:</em> <a target="_blank" href="http://zerocarbonworld.org">Zero Carbon World</a></p>
                <p><em>Data Contributions:</em> OpenChargeMap.org contributors, including: <a target="_blank" href="http://www.carstations.com">Carstations.com</a>, <a target="_blank" href="http://zerocarbonworld.org">Zero Carbon World</a>, <a href="http://www.afdc.energy.gov/afdc/">Alternative Fuels and Advanced Vehicles Data Center (AFDC)</a></p>
                <p><em>Development:</em> Database, Web Services and Web/Mobile App development led by <a target="_blank" href="http://twitter.com/#!/electriccarbuyr">Christopher Cook</a> of <a target="_blank" href="http://www.webprofusion.com">Webprofusion Ltd</a>, operator of <a target="_blank" href="http://electriccarbuyer.com">electriccarbuyer.com</a>. source code for this app and all system components is available on <a href="https://github.com/openchargemap/">GitHub</a>.</p>
                <p><em>Translations:</em> User interface translations supplied by the OCM community, please contribute your own translations using our <a href="https://webtranslateit.com/en/projects/6978-Open-Charge-Map">webtranslateit</a> project.</p>
                <p><em>Open Source Libraries &amp; Frameworks Used:</em> jQuery + jQuery.History + jQuery.fastClick, Twitter Bootstrap, Fontawesome, LeafletJS + Awesome Markers + MarkerClusterer + Open Street Map,  PocketGrid,  Google Maps, ASP.NET MVC, NuGet, NodeJS, Inkscape, Jake, Grunt, Oswald + Oxygen Fonts</p>
            </div>
        </div>
    </div>
</div>
<!-- Page:About:End -->
