 <!-- Page:LocationDetails:Start -->
<div data-role="page" id="locationdetails-page" class="ui-page">
    <div data-role="header" data-position="fixed">
        <div>
            <a href="javascript:void();" data-rel="back"><i class="fa fa-chevron-circle-left"></i></a>
            <div style="float: right"><i class="fa fa-search"></i>&nbsp;<span data-localize="ocm.details.sectionTitle">Location Details</span></div>
        </div>
    </div>
    <div data-role="content" style="padding-bottom:50px;">

        <div id="details-content">

            <div id="details-map"></div>

            <div class="row details-body" style="margin-top:-50px;">
                <div class="col-sm-6">

                    <div id="details-general" class="card">
                        <h3 class="card-heading detail-heading">
                            <span id="details-locationtitle" style="font-size:2em;"></span>
                        </h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="section-icon">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <p id="details-address"></p>

                                <p id="details-streetview"></p>
                            </div>
                            <div class="col-md-6">

                                <div class="section-icon">
                                    <i class="fa fa-car"></i>
                                </div>

                                <p id="details-driving"></p>

                                <p id="details-contact"></p>
                            </div>
                        </div>
                    </div>

                    <div id="details-additional-container" class="card">
                        <div class="card-heading">
                            <div class="section-icon">
                                <i class="fa fa-bolt"></i>
                            </div>
                            <span data-localize="ocm.details.equipment.sectionTitle">Equipment Details</span>
                        </div>
                        <div id="details-additional"></div>
                    </div>
                </div>
                <div class="col-sm-6">

                    <div id="details-usercomments-container" class="card">
                        <div class="card-heading">
                            <div class="section-icon">
                                <i class="fa fa-comment"></i>
                            </div> <span data-localize="ocm.details.commentsAndRatings.sectionTitle">comments and ratings</span> <div class="pull-right"><a id="btn-checkin" class="btn btn-primary" href="javascript:void();"><i class="fa fa-plus"></i>  <span data-localize="ocm.general.addItem">Add</span></a></div>
                        </div>

                        <div id="details-usercomments">
                            <span data-localize="ocm.details.commentsAndRatings.zeroComments">No comments submitted.</span>
                        </div>
                    </div>

                    <div id="details-mediaitems-container" class="card">
                        <div class="card-heading">
                            <div class="section-icon">
                                <i class="fa fa-camera"></i>
                            </div> <span data-localize="ocm.details.mediaItems.sectionTitle">Photos</span> <div class="pull-right"><a id="btn-uploadphoto" class="btn btn-primary" href="javascript:void();"><i class="fa fa-plus"></i> <span data-localize="ocm.general.addItem">Add</span></a></div>
                        </div>
                        <div id="details-mediaitems">
                            No photos submitted.
                        </div>
                        <link href="js/ThirdParty/swipebox/css/swipebox.css" type="text/css" rel="stylesheet" />
                        <div id="details-mediaitems-gallery">
                        </div>
                    </div>
                    <div id="details-advanced-container" class="card">
                        <div class="card-heading" data-localize="ocm.details.advancedDetails">Additional Information</div>
                        <div id="details-advanced" style="font-size:smaller;">
                            None.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div data-role="footer" data-position="fixed">
        <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
            <div class="btn-group pull-right" style="margin-top:0.4em;">
                <button type="button" id="option-favourite" class="btn btn-default btn-lg" title="Toggle Favourite"><i id="option-favourite-icon" class="fa fa-heart-o"></i><span class="hidden-xs"> Favourite</span></button>
                <button type="button" id="option-checkin" class="btn btn-default btn-lg" title="Add Comment or Checkin"><i class="fa fa-comment-o"></i><span class="hidden-xs"> Add Comment/Check-In</span></button>
                <button type="button" id="option-uploadphoto" class="btn btn-default btn-lg" title="Add Photo"><i class="fa fa-camera"></i><span class="hidden-xs"> Add Photo</span></button>
                <button type="button" id="option-edit" class="btn btn-default btn-lg" title="Edit Details"><i class="fa fa-edit"></i><span class="hidden-xs"> Edit Details</span></button>
            </div>
        </nav>
    </div>
</div>
<!-- Page:LocationDetails:End -->