 <!-- Page:Favourites:Start -->
<div data-role="page" id="favourites-page" class="ui-page">
    <div data-role="header" data-position="fixed">
        <div>
            <a href="javascript:void();" data-rel="menu">&nbsp;</a>
            <div style="float: right"><i class="fa fa-heart"></i>&nbsp;<span data-localize="ocm.general.favourites">Favourites</span> </div>
        </div>
    </div>
    <div data-role="content" class="container">
        <div id="favourites-list">
            <p>You have no favourite locations set. To add or remove a favourite, tap the <i style="border:1px solid red;" title="Toggle Favourite" class="fa fa-heart-o"></i> icon when viewing a location.</p>
        </div>
    </div>
</div>
<!-- Page:Favourites:End -->