<!-- Page:Feedback:Start -->
<div data-role="page" id="feedback-page" class="ui-page">
    <div data-role="header" data-position="fixed">
        <h1>Send Feedback</h1>
    </div>
    <div data-role="content">
        <p>
            We'd like to hear your feedback about our application and services, the form below is for general comments and feedback not related to a specific location. Note that you can also submit comments against individual charge points on their details page and <a href="#editlocation-page" data-icon="plus">send us details</a> of new locations.
        </p>
    </div>
    <div data-role="footer" data-position="fixed">
        <div data-role="controlgroup" data-type="horizontal">
            <a href="javascript:void();" data-rel="back" data-role="button" data-icon="back">Back</a>
        </div>
    </div>
</div>
<!-- Page:Feedback:End -->

