 <!-- Page:Home:Start -->
<div data-role="page" id="home-page" class="ui-page">
    <div data-role="content">

        <div id="home-intro" style="">
            <img alt="OCM Logo" src="images/icons/AppIcon_64x64.png" height="64" style="float: left; padding-right: 1em;" />
            <span class="accent">Open Charge Map</span> <span data-localize="ocm.general.shortDescription">the global registry of electric vehicle charging locations</span>
        </div>

        <div class="home-menu-container">
            <div id="network-error" class="alert alert-warning" style="display:none;">
                Your data connection appears to be switched off. Please re-launch app with data switched on for full functionality.
            </div>

            <div class="row">
                <div class="col-xs-4">
                    <a href="#search-page" class="ui-link">
                        <i class="fa fa-search fa-2x"></i>
                        <br>
                        <span data-localize="ocm.search.sectionTitle">Search</span>
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="#map-page" class="ui-link">
                        <i class="fa fa-map-marker fa-2x"></i>
                        <br>
                        <span data-localize="ocm.details.location.map">Map</span>
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="#favourites-page" class="ui-link">
                        <i class="fa fa-heart fa-2x"></i>
                        <br>
                        <span data-localize="ocm.general.favourites">Favourites</span>
                    </a>
                </div>
           </div>
            <div class="row">
                <div class="col-xs-4">
                    <a href="#addlocation-page" class="ui-link">
                        <i class="fa fa-plus fa-2x"></i>
                        <br>
                        <span data-localize="ocm.general.addLocation">Add Location</span>
                    </a>
                </div>

                <div class="col-xs-4">
                    <a href="#settings-page" class="ui-link">
                        <i class="fa fa-filter fa-2x"></i>
                        <br>
                        <span data-localize="ocm.general.settings">Filter Settings</span>
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="#about-page" class="ui-link">
                        <i class="fa fa-question-circle fa-2x"></i>
                        <br>
                        <span data-localize="ocm.general.about">About</span>
                    </a>
                </div>
               
                <div class="col-xs-4">
                    <a href="#login-page" id="login-button" class="ui-link">
                        <i class="fa fa-sign-in fa-2x"></i>
                        <br>
                        <span data-localize="ocm.general.signIn">Sign In</span>
                    </a>
                </div>
               
            </div>
        </div>

        <div id="user-profile-info">
            .
        </div>
    </div>
</div>
<!-- Page:Home:End -->
