 <!-- Page:Home:Start -->
<div data-role="page" id="home-page" class="ui-page">
    <div data-role="content">

        <div id="home-intro" style="">
            <img alt="OCM Logo" src="images/icons/AppIcon_64x64.png" height="64" style="float: left; padding-right: 1em;" />
            <span class="accent">Open Charge Map</span> <span data-localize="ocm.general.shortDescription">the global public registry of electric vehicle charging locations</span>
        </div>

        <div class="home-menu-container">
            <div id="network-error" class="alert alert-warning" style="display:none;">
                Your data connection appears to be switched off. Please re-launch app with data switched on for full functionality.
            </div>

            <div class="main block-group ui-grid-b">
                <div class="item block">
                    <a href="#search-page" class="ui-link">
                        <i class="icon-search icon-2x"></i>
                        <br>
                        <span data-localize="ocm.search.sectionTitle">Search</span>
                    </a>
                </div>
                <div class="item block">
                    <a href="#map-page" class="ui-link">
                        <i class="icon-map-marker icon-2x"></i>
                        <br>
                        <span data-localize="ocm.details.location.map">Map</span>
                    </a>
                </div>
                <div class="item block">
                    <a href="#favourites-page" class="ui-link">
                        <i class="icon-heart icon-2x"></i>
                        <br>
                        <span data-localize="ocm.general.favourites">Favourites</span>
                    </a>
                </div>
                <div class="item block">
                    <a href="#addlocation-page" class="ui-link">
                        <i class="icon-plus icon-2x"></i>
                        <br>
                        <span data-localize="ocm.general.addLocation">Add Location</span>
                    </a>
                </div>

                <div class="item block">
                    <a href="#settings-page" class="ui-link">
                        <i class="icon-cog icon-2x"></i>
                        <br>
                        <span data-localize="ocm.general.settings">Settings</span>
                    </a>
                </div>
                <div class="item block">
                    <a href="#about-page" class="ui-link">
                        <i class="icon-question-sign icon-2x"></i>
                        <br>
                        <span data-localize="ocm.general.about">About</span>
                    </a>
                </div>
                <div class="item block">
                    <a href="#login-page" id="login-button" class="ui-link">
                        <i class="icon-signin icon-2x"></i>
                        <br>
                        <span data-localize="ocm.general.signIn">Sign In</span>
                    </a>
                </div>
            </div>

        </div>

        <div id="user-profile-info">
            .
        </div>
    </div>
</div>
<!-- Page:Home:End -->
