<!-- Page:Login:Start -->
<div data-role="page" id="login-page" class="ui-page">
    <div data-role="header" data-position="fixed">
        <div>
            <a href="#" data-rel="back"><i class="fa fa-chevron-circle-left"></i>&nbsp;</a>
            <div style="float: right"><i class="fa fa-sign-in"></i>&nbsp;Sign In</div>
        </div>
    </div>
    <div data-role="content" class="container">

        <h2>Sign In or Register</h2>

        <div id="login-panel">
            <div id="login-summary"></div>
        </div>
        <p>
            Note: A Twitter, Google or Facebook account is currently required for authentication purposes.
        </p>

    </div>
</div>
<!-- Page:Login:End -->