<!-- Page:Login:Start -->
<div data-role="page" id="login-page" class="ui-page">
    <div data-role="header" data-position="fixed">
        <div>
            <a href="#home-page"><i class="icon-chevron-left"></i>&nbsp;<i class="icon-home"></i></a>
            <div style="float: right"><i class="icon-signin"></i>&nbsp;Sign In</div>
        </div>
    </div>
    <div data-role="content" data-theme="d" class="container">

        <div class="ui-bar ui-bar-b">Sign In or Register</div>

        <div id="login-panel">
            <div id="login-summary"></div>
        </div>
        <p>
            Note: A Twitter, Google or Facebook account is currently required for authentication purposes.
        </p>

    </div>
</div>
<!-- Page:Login:End -->