 <!-- Page:Map:Start -->
<div data-role="page" id="map-page" class="ui-page">
    <div data-role="header" data-position="fixed">
        <div>
            <a href="javascript:void();" data-rel="back"><i class="icon-chevron-left"></i>&nbsp;Back</a>
            <div style="float: right"><i class="icon-map-marker"></i>&nbsp;<span data-localize="ocm.details.location.map">Map</span></div>
        </div>
    </div>

    <div data-role="content" style="padding: 0;">
        <div>
            <div id="map-view" style="position: absolute; width: 99%; min-height: 70%;"></div>
        </div>
    </div>

    <div data-role="footer" data-position="fixed">
        <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
            <div class="form-options">
                <a href="javascript:void();" data-rel="back" class="btn btn-default">Back</a>
                <button id="map-listview" class="btn btn-primary" type="button"><i class="icon-list"></i> <span id="map-view-resultcount">No Results.</span></button>
            </div>
        </nav>
    </div>
</div>
<!-- Page:Map:End -->