<!-- Page:News:Start -->
<div data-role="page" id="news-page" class="ui-page">
    <div data-role="header" data-position="fixed">
        <div>
            <a href="javascript:void();" data-rel="menu">&nbsp;</a>
            <div style="float: right"><i class="fa fa-leaf"></i>&nbsp;<span data-localize="ocm.general.news">News</span></div>
        </div>
    </div>
    <div data-role="content" class="container" style="padding:0;">
       <iframe src="" id="news-frame" class="fit-to-viewport" style="border:none; width:100%;height:800px;overflow-y:scroll;"></iframe>

    </div>
</div>
<!-- Page:News:End -->
