<!-- Page:Search:Start -->
<div data-role="page" id="search-page" class="ui-page">

    <div data-role="header" data-position="fixed">
        <div>
            <a href="javascript:void();" data-rel="menu">&nbsp;</a>
            <div style="float: right"><i class="fa fa-search"></i>&nbsp;<span data-localize="ocm.search.sectionTitle">Search</span></div>
        </div>
    </div>

    <div data-role="content">
        <div id="content-placeholder"></div>
        <div class="well well-sm">
            <form id="search-form" role="search" action="javascript:ocm_app.performSearch(false, true);">

                <div class="form-group">
                    <label for="search-location" class="sr-only">Location</label>

                    <div class="input-group">
                        <input type="text" id="search-location" class="form-control" autocorrect="on" placeholder="Enter a location&hellip;" value="Aberdeen, UK" />
                        <span class="input-group-btn">
                            <button id="search-button" class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>

                </div>
                <div class="form-group">
                    <div class="btn-group">
                        <button id="search-nearby" class="btn btn-default" type="button"><i class="fa fa-location-arrow"></i> <span data-localize="ocm.search.useMyLocation">Find Near Me</span></button>
                        <button id="search-settings" class="btn btn-default" type="button"><i class="fa fa-filter"></i> <span data-localize="ocm.general.settings">Settings</span></button>
                    </div>
                </div>

            </form>
        </div>

        <div id="search-no-data" class="info-section">Use this search to find charging locations near you or to search near a particular location. To filter by specific criteria go to Settings.</div>

        
    </div>

    <div data-role="footer" data-position="fixed">
        <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
            <div class="form-options">
                <div class="btn-group pull-right">
                    <button id="search-map" class="btn btn-default" type="button"><i class="fa fa-map-marker"></i> <span data-localize="ocm.details.location.map">Map</span></button>
                    <button id="search-favourites" class="btn btn-default" type="button"><i class="fa fa-heart"></i> <span data-localize="ocm.general.favourites">Favourites</span></button>
                    <button id="search-addlocation" class="btn btn-default" type="button"><i class="fa fa-plus"></i></button>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Page:Search:End -->