 <!-- Page:Startup:Start -->
<div data-role="page" id="startup-page" class="ui-page" style="display:block;">
    <div data-role="header" data-position="fixed">
        <div>
            <a href="javascript:void();" data-rel="menu">&nbsp;</a>
        </div>
    </div>
    <div data-role="content" class="container" style="margin-top:1em;display:block;">
        <div class="jumbotron animated fadeIn">
            <h1>Open Charge Map</h1>
            <p><img src="images/icons/loading-bars.svg" width="128" height="64" alt="Loading.." /></p>
            <p>Engaging Awesomeness..</p>
            <ul>
                <li>Checking Network</li>
                <li>Loading Maps</li>
            </ul>
        </div>
    </div>
</div>
<!-- Page:Startup:End -->