@{
    ViewBag.Title = "About Open Charge Map";
}
<h2>Our Service</h2>
<p>Open Charge Map is a non-commercial, non-profit, electric vehicle data service hosted and supported by a community of businesses, charities, developers and interested parties around the world.</p>
<h2>Our Aim</h2>
<p>Our aim is to provide a public, free, open database of charging equipment locations globally.</p>
<p>
    Our goal is to remove the need for a proliferation of independent charging location maps/websites/applications 
and to provide (as much as possible) a reliable single point of reference for charging equipment location information. 
Instead of competing with other data providers we aim to cooperate with and provide services to them, in exchange for 
data sharing and de-duplication efforts.
</p>
<!--<p>If you have a project or service which needs to use charging location data or you have any questions, please <a href="about/contact/">get in touch.</a></p>-->

<h2>Steering Group</h2>

<p>
    Our steering group consists of a wide range of people and organisations, both formally and informally:
</p>
<h3>Coordinators</h3>
<p>
    The following people provide leadership and coordination for the project:
</p>
<h4>Kevin Sharpe</h4>
<p>
    Kevin is the founder of the Open Charge Map project. He is also the founder and chairman of the UK carbon reduction charity Zero Carbon World (<a href="http://www.zerocarbonworld.org">www.zerocarbonworld.org</a>).
</p>
<h4>Christopher Cook</h4>
<p>Christopher is the lead technical architect, database designer and lead developer for the Open Charge Map system. He is a director of the UK software development company Webprofusion Ltd (<a href="http://www.webprofusion.com">www.webprofusion.com</a>) and owner of <a href="http://www.electriccarbuyer.com">electriccarbuyer.com</a></p>
<h3>OCM Devel Members</h3>
<p>Our<a href="https://github.com/openchargemap">GitHub project</a> provides a conduit for external technical contributors to discuss and influence our system and plans. Our devel mailing list is currently our primary means of exchanging ideas and gathering feedback from interested parties.</p>
<h4>Project Stats</h4>
<script type="text/javascript" src="http://www.ohloh.net/p/605311/widgets/project_cocomo.js"></script>
<h3>API Users</h3>
<p>
    API users who make use of our services in production system have a strong influence on our project as these are effectively the key users of the system. We encourage organisations to join our mailing list so we can keep them up to date with changes and plans, and so they can alert us about their own plans or issues.
</p>
<h2>Data Sources</h2>
<p>
    The data made available through the Open Charge Map system and related services is sourced from many locations and is often provided directly ("crowd sourced") by our users and those of apps using our services.
</p>
<h3>Data Sources</h3>
<p>Credit and our thanks goes to following major data sources currently included in our database:</p>
<ul>
    <li>OpenChargeMap.org Contributors</li>
    <li>Alternative Fuels Data Center (http://www.afdc.energy.gov/)</li>
    <li>Carstations.com (http://carstations.com/)</li>
    <li>Blink Network (http://www.blinknetwork.com)</li>
    <li>UK National Charge Point Registry (http://chargepoints.dft.gov.uk)</li>
    <li>Nobil.no (http://www.nobil.no)</li>
    <li>RWE Mobility (http://www.rwe-mobility.com/)</li>
    <li>Mobie.pt (http://www.mobie.pt/)</li>
</ul>
