@{
    ViewBag.Title = "Contact Us - Submitted";
}

<h2>Contact Us</h2>
<p>Thank you for getting in touch with us. If a response is required we will get back to you as soon as possible.</p>

@ViewBag.ErrorMessage
