@model OCM.API.Common.Model.ContactSubmission

@{
    ViewBag.Title = "Contact";
}

<h1>Contact Us</h1>
<p>
    To submit details for a new location use the Add Location menu option: <a href="https://map.openchargemap.io/">https://map.openchargemap.io</a>. To
suggest edits to an existing location browse to the location details and choose 'Edit'. Your edit will then be submitted for approval.
</p>

<p>
    For all other enquiries and comments please use <a href="https://community.openchargemap.org/">https://community.openchargemap.org/</a>
</p>
<p>Please note that we do not enter into individual agreements with organisations. If you wish to use the Open Charge Map data please refer to the <a href="@Url.Action("API","Develop")">API</a> documentation and terms</p>.
