@{
    ViewBag.Title = "Funding and Project Costs";
}

<script type="text/javascript" src="~/scripts/OCM/TableOfContents.js"></script>

<div class="row">

    <div class="col-sm-8 col-xs-12">
        <article>

            <section>
                <h2 id="objectives">Project Objectives</h2>
                <p>Our primary objective is to provide and maintain a quality Open Data set detailing the non-residential charging station infrastructure available to electric vehicle drivers globally.</p>
                <p>
                    To achieve this goal we provide:
                    <ul>
                        <li>Access to an Open Data set of Charging Locations, Equipment details and user contributed supporting information. Note that the data licensing is mixed and specific to each applicable Data Provider.</li>
                        <li>Tools and techniques (Web, Apps etc.) for accepting and managing data contributions and information maintenance.</li>
                        <li>Web/API services to publish the data to all interested parties.</li>
                        <li>Community support and discussions</li>
                    </ul>
                </p>
                <h2 id="costs">Project Costs</h2>
                <p>
                    Currently, our main project cost is server hosting and related services ( APIs, Storage etc):
                    <ul>
                        <li><a href="https://webprofusion.com/">Webprofusion Pty Ltd</a> pay for our server/cloud hosting (web, apps, API, database, image hosting, messaging etc).</li>
                    </ul>
                </p>
                <p>
                    Our service level can be improved if we have funding for improved hosting/cloud services and additional development.
                </p>

                <h2 id="resourcing">Project Resourcing</h2>
                <p>
                    In addition to server hosting the following roles are performed by volunteers on a casual basis:
                    <ul>
                        <li>Software Development (Web Site, Apps, Tools, API, Database, Server/System Administration, UI Translation).</li>
                        <li>High-level Adminstration (Managing Editors, Network Operators etc).</li>
                        <li>Marketing and Promotion (the quality of our data is directly dependant on user contributed edits and supporting information, requiring an active user base with comprehensive geographic coverage).</li>
                        <li>Community Support and Discussion (Contact Us, Twitter, Facebook).</li>
                        <li>Country Editors (with approval rights per country, editing and approving submissions).</li>
                        <li>Community Contributors (end-users contributing and editing information).</li>
                    </ul>
                </p>
                <p>Funding or sponsorship allows our project to allocate specific funding to accelerate or enable work in the many of above areas and other project aspects.</p>
            </section>
        </article>
    </div>
    <div class="col-sm-4 hidden-xs"><div id="toc" style="position:fixed;"></div></div>
</div>
<script type="text/javascript">
    $(function () {
        prepareTableOfContents();
    });
</script>