@{
    ViewBag.Title = "Guidance for Submitters and Editors";

}

<script type="text/javascript" src="~/scripts/OCM/TableOfContents.js"></script>

<div class="row">

    <div class="col-sm-8 col-xs-12">
        <article>
            <section>
                <h1>Guidance for Contributors</h1>
                <h2 id="intro">Introduction</h2>
                <p class="alert alert-warning">Note: this guidance is a working draft for comment and is not final. [Last Updated: Jan 12 2015] </p>
                <p>
                    The aim of the Open Charge Map project is to provide a reliable and well respected Open Data set for EV charging equipment locations globally. Data in OCM comes from two types of source: User Contributions and <a href="#dataimports">3rd Party Data Imports</a>. We rely on our contributors to do their best to provide quality information when manually providing and improving information.
                </p>
                <p>This guidance exists to describe both optional and mandatory practises when contributing information to us.
                </p>
            </section>
            <section>

                <h2 id="intro">Guidance For All Contributors</h2>
                <h3 id="terms">Acceptance of Terms</h3>
                <p>All information you submit (including charging equipment information, comments, check-ins and photos) to Open Charge Map is held by us and redistributed under an Open Data license. By submitting any information to us you are agreeing to these <a href="@Url.Action("Terms","About")">terms</a>.
                <h3 id="commentsandphotos">Contributing Comments, Check-In and Photos</h3>
                <p>
                    Adding a Check-In, Comment (which is the same as a Check-In but with your own comment) or Photo can make a huge difference to other people who find a charging location using Open Charge Map data, especially if your comment can help them plan their journey or avoid problems.
                    Using this feature you can provide useful information to others:
                    <ul>
                        <li>If the location is difficult to access.</li>
                        <li>If the equipment is in good working order.</li>
                        <li>What the parking spot looks like.</li>
                        <li>If the spot is regularly occupied (whether by EV's or other cars).</li>
                        <li>If their is a fault, you can report it - if we know the Operators contact details they will be emailed the fault report.</li>
                    </ul>
                    If you find the information for a location to be inaccurate in any way you can <a href="#edits">edit the details</a> yourself using either the OCM website or the OCM App on your mobile/tablet. Your changes will then wait in the <a href="#editqueue">Edit Queue</a> to be approved by an Editor for the relevant country.
                </p>

                <h3 id="edits">Submitting New Locations</h3>
                <p>
                    <ul>
                        <li>Ensure the location is not a duplicate of an existing listing.</li>
                        <li>Ensure the location is not a private residence (home). OCM does not accept information related to private individuals because we cannot provide the data protection required by law in many countries. This is because our data is widely redistributed.</li>
                        <li>Provide as much detail as possible without being verbose or opinionated - you can leave additional comments and photos etc once you have submitted the location.</li>
                        <li>
                            Follow your country/regional standards for Address information e.g.:
                            <ul>
                                <li>In the UK postcodes are uppercase and separated into two components.</li>
                                <li>In Australia the suburb is all uppercase.</li>
                            </ul>
                        </li>
                    </ul>
                </p>
                <h2 id="edits">Submitting Edits</h2>
                <p>You can edit the details of any location whether you are a normal user or a <a href="#country-editor">country editor</a>.</>
                <p>You should aim to make each listing as complete as possible. If a listing is sourced automatically you should consider whether you can notify the source of the information about required changes so that all other consumers of that information can be notified. Where this is not possible/practical you can edit the listing on Open Charge Map however future imports will no longer be automatically updated for that location.</p>
                <h3 id="edit-removinginfo">Removing Information</h3>
                <p>You should not remove information (equipment details, power specifications etc) if you cannot verify the accuracy of the information unless the original information does not make logical sense. Only information you know to be incorrect should be changed.</p>

                <h2 id="country-editor">Country Editor</h2>
                <p>If you have made a significant number of good submissions we may promote your account to Country Editor for the countries you are most active in. Country Editors can make changes which don't require further approval and they can approve changes submitted by other users.</p>
                <p>It is the responsibility of each country editor to ensure that submissions they approve are of a reasonable quality, do not introduce duplication and do not appear to be private residences (homes).</p>
                <p>It is not the responsibility of the country editor to validate that the equipment exists, this information can instead be provided by all users in the form of comments or edits using the app or website.</p>
                <p>It is the responsibility of all country editors to ensure they are following the latest guidance for their role (as presented and updated here). Failing to reasonably follow this guidance may result in the Country Editor role being removed from your account.</p>
                <h3 id="duplicates">Resolving Duplicates</h3>
                <p>
                    If you identify a duplicate listing you should resolve the duplicate as follows:
                </p>
                <p>
                    If comments or photos are present on one listing but not on the other then the listing with comments/photos is automatically the best one to keep (because it has user contributed information, unless the comment is 'this is a duplicate'). In this situation you should compare the information for the two listings and improve the listing with comments/photos as required, then delist the other location.

                </p>
                <p>If both listings are virtually identical with no comment/photos or other distinguishing features then you should delist the newest entry (with the highest OCM-ID reference).</p>
                <h3 id="newadditions">New Locations Awaiting Approval</h3>
                <p>The easiest way to review the locations awaiting approval is via the <a href="@Url.Action("Index", "POI", new { submissionstatustypeid=1})">New Locations Awaiting Approval</a> page. From there an editor can look at the details of the individual location, inspect the quality of the submission and approve it.</p>
                <h3 id="editqueue">The Edit Queue</h3>
                <p>The Edit Queue is where changes to existing locations await approval by an editor for the relevant country. The edit queue can show both new locations and edits to existing locations but is best suited to managing edits.</p>
                <h2 id="dataimports">3rd Party Data Imports</h2>
                <p>
                    Many government agencies and industry groups around the world provide EV charging location information as Open Data. These data sets can contain thousands of entries and are often a great source of additional information for the OCM data set.
                </p>
                <p>Where an import process has been created for OCM we periodically import from each data source, adding new locations and updating existing ones. If you wish to change one of these listings, they can do so using the normal Edit function.</p>
                <p>
                    When you edit a location from a 3rd Party Data Import the following process is followed:<ul>
                        <li>The old listing is archived for future reference as a superceded POI.</li>
                        <li>We link the old POI with your new version in the OCM database.</li>
                        <li>From then on users only see the edited OCM version of the listing.</li>
                        <li>Subsequent data imports are ignored for that location. This means that improvements made by the 3rd Party will not be seen in the OCM listing and will need to be applied manually.</li>
                    </ul>
                </p>
            </section>
        </article>
    </div>
    <div class="col-sm-4 hidden-xs"><div id="toc" style="position:fixed;"></div></div>
</div>
<script type="text/javascript">
    $(function () {
        prepareTableOfContents();
    });
</script>