@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>License and Privacy Policy</h1>
<h2>Privacy <small>updated 22/03/2014</small></h2>

<p>When using the services provided by Open Charge Map you may be required to supply location related information in order to query our data services. In addition your browser software (or app you use) may supply certain standard information such as your IP address, browser version etc. Standard temporary web server logging is in place but is discarded periodically and is not distrbuted to any third party. </p>
<p>Features which require an accountable editor or submitter (comments, photos, data edits etc) are associated with your Open Charge Map user account. This association is part of our public database and data set therefore users of our API will be able to identify you as the source of the submitted information. In some case they may be able to correlate the location data in submissions with your own location.</p>
<p>Data you submit to us becomes part of our publically redistributed data set and may be further copied to other 3rd party systems. By submitting information to us you are certifying that you are the originator of the information and are granting us the permission to use and redistribute the information as required by our systems without restriction.</p>
<h2>Services and Data Licensing</h2>

@Html.Partial("_LicenseBlock")

<h2><a id="sharing"></a>Sharing Your Organisation's Information</h2>

<p data-localize="ocm.infoText.terms.dataRequestIntro">
    If your organisation has electric vehicle charging equipment location information then we would like you to share that information with Open Charge Map.
</p>
<p data-localize="ocm.infoText.terms.dataRequestMain">
    We ask that you explicitly license your information under a recognised Open Data license such as Creative Commons CC-BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0/) which will allow our users and data consumers (apps, websites etc.) to benefit from the information you have. In return we will provide attribution for your organisation as the source of this information and make updates available to you. Your contributed information will aid the adoption of electric vehicles globally by making it easy for people to find and use charging locations using the most accurate information available.
</p>