@model OCM.API.Common.Model.POIRecentActivity

@{
    ViewBag.Title = "Activity";
}

<h1>Recent OCM Activity</h1>

<div>
    <h2>Recent Photos <small>contributed by OCM users</small></h2>
    <div class="row">
        @foreach (var item in Model.RecentMedia.Where(i => i.IsEnabled))
        {
            <div class="col-md-1 col-sm-1">
                <a class="thumbnail" href="@Url.Action("Details","POI", new {id=item.ChargePointID})">
                    <img class="img-fluid" src="@item.ItemThumbnailURL"/>
                </a>
            </div>    
        }
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>New Locations <small>recently added</small></h2>
        @Html.Partial("_POIList", Model.POIRecentlyAdded)
    </div>
    <div class="col-md-6">
        <h2>Recent Comments <small>added by users</small></h2>
        @Html.DisplayFor(poiSummary => poiSummary.RecentComments)
    </div>
</div>
